Repository zloirock/core-js, pull requests merged in 2023-06, with the labels that each got.

#1254 Update Decorator Metadata proposal
  CHANGELOG.md
  README.md
  packages/core-js-compat/src/data.mjs
  packages/core-js-compat/src/modules-by-versions.mjs
  packages/core-js/actual/function/index.js
  packages/core-js/actual/function/metadata.js
  packages/core-js/actual/symbol/index.js
  packages/core-js/actual/symbol/metadata.js
  packages/core-js/full/function/metadata.js
  packages/core-js/full/symbol/index.js
  packages/core-js/full/symbol/metadata.js
  packages/core-js/modules/esnext.function.metadata.js
  packages/core-js/proposals/decorator-metadata-v2.js
  packages/core-js/stage/2.js
  packages/core-js/stage/3.js
  tests/compat/tests.js
  tests/entries/unit.mjs
  tests/unit-global/esnext.function.metadata.js
  tests/unit-pure/esnext.function.metadata.js
  tests/unit-pure/esnext.symbol.metadata.js
Labels: esnext, semver:minor

#1248 Move well-formed unicode strings proposal to Stage 4
  CHANGELOG.md
  README.md
  packages/core-js-compat/src/data.mjs
  packages/core-js-compat/src/modules-by-versions.mjs
  packages/core-js/actual/instance/is-well-formed.js
  packages/core-js/actual/instance/to-well-formed.js
  packages/core-js/actual/string/index.js
  packages/core-js/actual/string/is-well-formed.js
  packages/core-js/actual/string/to-well-formed.js
  packages/core-js/actual/string/virtual/index.js
  packages/core-js/actual/string/virtual/is-well-formed.js
  packages/core-js/actual/string/virtual/to-well-formed.js
  packages/core-js/es/instance/is-well-formed.js
  packages/core-js/es/instance/to-well-formed.js
  packages/core-js/es/string/index.js
  packages/core-js/es/string/is-well-formed.js
  packages/core-js/es/string/to-well-formed.js
  packages/core-js/es/string/virtual/is-well-formed.js
  packages/core-js/es/string/virtual/to-well-formed.js
  packages/core-js/modules/es.string.is-well-formed.js
  packages/core-js/modules/es.string.to-well-formed.js
  packages/core-js/modules/esnext.string.is-well-formed.js
  packages/core-js/modules/esnext.string.to-well-formed.js
  packages/core-js/stable/instance/is-well-formed.js
  packages/core-js/stable/instance/to-well-formed.js
  packages/core-js/stable/string/is-well-formed.js
  packages/core-js/stable/string/to-well-formed.js
  packages/core-js/stable/string/virtual/is-well-formed.js
  packages/core-js/stable/string/virtual/to-well-formed.js
  packages/core-js/stage/3.js
  packages/core-js/stage/4.js
  tests/compat/tests.js
  tests/entries/unit.mjs
  tests/unit-global/es.string.is-well-formed.js
  tests/unit-global/es.string.to-well-formed.js
  tests/unit-pure/es.string.is-well-formed.js
  tests/unit-pure/es.string.to-well-formed.js
Labels: es, semver:minor

#1252 Rename the methods from the `Symbol` predicates Stage 2 proposal
  CHANGELOG.md
  README.md
  packages/core-js-compat/src/data.mjs
  packages/core-js-compat/src/modules-by-versions.mjs
  packages/core-js/full/symbol/index.js
  packages/core-js/full/symbol/is-registered-symbol.js
  packages/core-js/full/symbol/is-well-known-symbol.js
  packages/core-js/internals/symbol-is-registered.js
  packages/core-js/internals/symbol-is-well-known.js
  packages/core-js/modules/esnext.symbol.is-registered-symbol.js
  packages/core-js/modules/esnext.symbol.is-registered.js
  packages/core-js/modules/esnext.symbol.is-well-known-symbol.js
  packages/core-js/modules/esnext.symbol.is-well-known.js
  packages/core-js/proposals/symbol-predicates-v2.js
  packages/core-js/stage/2.js
  tests/compat-data/tests-coverage.mjs
  tests/compat/tests.js
  tests/entries/unit.mjs
  tests/unit-global/esnext.symbol.is-registered-symbol.js
  tests/unit-global/esnext.symbol.is-registered.js
  tests/unit-global/esnext.symbol.is-well-known-symbol.js
  tests/unit-global/esnext.symbol.is-well-known.js
  tests/unit-pure/esnext.symbol.is-registered-symbol.js
  tests/unit-pure/esnext.symbol.is-registered.js
  tests/unit-pure/esnext.symbol.is-well-known-symbol.js
  tests/unit-pure/esnext.symbol.is-well-known.js
Labels: esnext, semver:minor

#1253 Add `Promise.withResolvers` Stage 2 proposal
  CHANGELOG.md
  README.md
  packages/core-js-compat/src/data.mjs
  packages/core-js-compat/src/modules-by-versions.mjs
  packages/core-js/full/promise/index.js
  packages/core-js/full/promise/with-resolvers.js
  packages/core-js/modules/esnext.promise.with-resolvers.js
  packages/core-js/proposals/promise-with-resolvers.js
  packages/core-js/stage/2.js
  tests/compat/tests.js
  tests/entries/unit.mjs
  tests/unit-global/esnext.promise.with-resolvers.js
  tests/unit-pure/esnext.promise.with-resolvers.js
Labels: esnext, semver:minor

#1235 Add typescript declarations for core-js-compat
  CHANGELOG.md
  packages/core-js-builder/index.d.ts
  packages/core-js-compat/compat.d.ts
  packages/core-js-compat/get-modules-list-for-target-version.d.ts
  packages/core-js-compat/index.d.ts
  packages/core-js-compat/package.json
  packages/core-js-compat/shared.d.ts
  tests/type-definitions/compat.ts
Labels: semver:minor

#1257 Add `value` argument of `URLSearchParams.prototype.{ has, delete }`
  CHANGELOG.md
  README.md
  packages/core-js-compat/src/data.mjs
  packages/core-js-compat/src/modules-by-versions.mjs
  packages/core-js-pure/override/modules/web.url-search-params.delete.js
  packages/core-js-pure/override/modules/web.url-search-params.has.js
  packages/core-js/internals/url-constructor-detection.js
  packages/core-js/modules/web.url-search-params.constructor.js
  packages/core-js/modules/web.url-search-params.delete.js
  packages/core-js/modules/web.url-search-params.has.js
  packages/core-js/proposals/url.js
  packages/core-js/web/index.js
  packages/core-js/web/url-search-params.js
  packages/core-js/web/url.js
  tests/compat/tests.js
  tests/unit-global/web.url-search-params.js
  tests/unit-pure/web.url-search-params.js
Labels: web standards, semver:minor
